{{#if success }}
<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ success }}
</div>
{{/if }}

{{#if logout }}
<div class="alert alert-dismissible alert-success logout-alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ logout }}
</div>
{{/if }}