<img class="login-page" src="/assets/images/login_background_alt.png"></img>
  {{> _navbar}}

  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      
      <div class="col-md-6">
        
        <div class="card shadow-lg login-card">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/images/pawprint_login.jpg" class="rounded-circle login-photo">
            </div>
            <form action='/user/login' method='POST' class="form">
              <div class="form-group">
                <input type="email" class="form-control" name='email' placeholder="user@email.com">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name='password' placeholder="password">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <br />
            <p>Or sign up <a class="sign-up-link" href="/register">here</a></p>
          </div>
        </div>
        
      </div>

      <div class="col-md-3"></div>
    </div>
  </div>

