{{> _navbar}}
<div class="container-register">
  <div class="register-image-container">
    <img id="register-img" src="/assets/images/login_background.jpg"/>
  </div>
  <div class="register-container">
    <form action="" class="register-form">

    </form>
  </div>
</div>
{{!-- <img class="register-page" src='/assets/images/login_background.jpg'></img> --}}