<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Woof</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/user/logout">Log out</a>
      </li>
    </ul>
  </div>
  </nav>

  <div class="container">
  <h2>Username Here</h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">Pets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Reviews</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    
    <div id="home" class="container tab-pane active"><br>
      <h2> Information
        <small>
          <span class="btn-group">
            <button class="btn btn-mini">Edit</button>
          </span>
        </small>
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    
    <div id="menu1" class="container tab-pane fade"><br>
      <h2> Pets
        <small>
          <span class="btn-group">
            <button class="btn btn-mini">Edit</button>
          </span>
        </small>
      </h2>
      <h4><strong>Pet name here</strong> </h4>
      <p><strong>Breed : </strong> Pitbull</p>
      <p><strong>Age :</strong> 2</p>
      <p><strong>Gender :</strong> Male</p>
      <p><strong>Temperament :</strong> Relaxed</p>
      <P><strong>Bio:</strong> <br>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</P>
    </div>
    
    <div id="menu2" class="container tab-pane fade"><br>
      <h2> Reviews
        <small>
          <span class="btn-group">
            <button class="btn btn-mini">Edit</button>
          </span>
        </small>
      </h2>
      <div class="container">
	      <div class="card">
	        <div class="card-body">
            <ul class="list-group">
              <li>
                <div class="row">
        	        <div class="col-md-2">
        	          <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
        	        </div>
        	        <div class="col-md-10">
        	          <p>
        	            <a class="float-left" href="#"><strong>Other User</strong></a>
        	          </p>
        	        <div class="clearfix"></div>
        	          <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        	        </div>
	              </div>
              </li>
            </ul>
	      </div>
	    </div>
      <div>
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1"><strong>Username :</strong></label>
            <input class="form-control" id="username" type="text" placeholder="Username Auto Display here" readonly>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1"><strong>Review : </strong></label>
            <textarea class="form-control" id="textarea" rows="3" placeholder="Leave a review ..."></textarea>
          </div>
          <button type="submit" class="btn btn-primary mb-2 ml-2" id="submitBtn">Submit Review</button>
        </form>
      </div>
	        </div>
        </div>
      </div>
    </div>
  </div>
</div>