* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 64px;
  background-color: #F5F4F2;
  height: 100vh;
  font-family: 'Trispace', sans-serif;
}

.btn-access {
  background: linear-gradient(to right, #ff105f, #ffad06);
  color: white;
  border: 0;
  opacity: 0.8;
}

input:focus::placeholder {
  color: transparent;
}

/* ==================================================================== */
/* homepage */

.carousel-item {
  height: 100vh;
  position: relative;
  background: grey;
  color: white;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.carousel-caption {
  bottom: 18rem;
  text-align: center;
}

.carousel-caption h1 {
  font-size: 4rem;
  color: white;
  font-weight: 700;
}

/* ==================================================================== */
/* navbar */

.navbar-custom {
  background: #F5F4F2;
  font-weight: 400;
  box-shadow: 0 -1px 5px -1px #000;
}

.navbar-brand {
  font-family: 'Romanesco', cursive;
  color: #FF7851;
  font-size: 2rem;
  margin: 0px 5px;
  padding: 0px 5px;
  letter-spacing: 0.05em;
}

a.navbar-brand:hover {
  color: #FF7851
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: black;
} 

a.nav-link {
  color: grey
}

a.nav-link:hover {
  color: #FF7851
}

/* ==================================================================== */
/* login page */

.login-page {
  max-width: 100%;
  position: fixed;
}

.login-card {
  margin-top: 15%;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  color: white;
  border: 0;
}

.login-photo {
  width: 150px;
  margin-bottom: 2rem;
}

.sign-up-link {
  color: #CAF7F9;
  text-decoration: underline;
}

/* ==================================================================== */
/* register page */

.register-page-contain {
  padding-right: 15px;
}

.register-bg {
  opacity: 0.8;
}

.register-title {
  text-align: center;
  font-weight: 500;
}

.form-control, .form-control:focus {
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
  background-color: #F5F4F2;
  border-radius: 0;
  box-shadow: none;
  font-weight: 200;
}

.step-row {
  width: 100%;
  height: 2rem;
  margin: 0;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
  overflow: hidden;
}

#progress {
  background: linear-gradient(to right, #ff105f, #ffad06);
  height: 2rem;
  width: 50%;
  position: absolute;
  transition: 1s;
}

#progress::after {
  content: '';
  height: 0;
  width: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  position: absolute;
  right: -1rem;
  top: 0;
  border-left: 1rem solid #ffad06;
}

.form-container {
  position: relative;
}

.register-form {
  position: absolute;
  width: 60%;
}

#userForm {
  left: 50%;
  transform: translate(-50%, 0);
}

#dogForm {
  display: none;
  left: 50%;
  transform: translate(-50%, 0);
}

.userRadioValid {
  display: none;
  color: red;
}

#noBlanks, #passwordMatch, #passwordRegx {
  display: none;
}

/* ==================================================================== */
/* messages */

